/*
Name: 
Date: 
*/

:root{
    --main-bg-colour: #05445e;
    --sec-bg-colour: #189ab4;
    --main-colour: #d4f1f4;
    --sec-colour: #75e6da;
}

.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "side1 section1 section1"
    "section2 videoSection side2"
    "footer footer footer";
}



.header{ /*DO NOT REMOVE*/
    grid-area: header;
    background-color: #FFCCE6;
    color: #000000;
}




.main{ /*DO NOT REMOVE*/
    grid-area: main;
    background-color: #FFCCE6;
    color: #000000;
}

.side1{ /*DO NOT REMOVE*/
    grid-area: side1;
    background-color:#189ab4;
    text-align: center;
    padding: 50px; 
}

.side2{ /*DO NOT REMOVE*/
    grid-area: side2;
    background-color: #75e6da;
    text-align: center;
    padding: 50px;
}

.section1{ /*DO NOT REMOVE*/
    grid-area: section1;
    padding: 50px;
}

.section2{ /*DO NOT REMOVE*/
    grid-area: section2;
    padding: 50px;
}

.videoSection{ /*DO NOT REMOVE*/
    grid-area: videoSection;
    padding: 50px;
}

.footer{ /*DO NOT REMOVE*/
    grid-area: footer;
    background-color: #E6D0DE;
    color: #000000;
}
